[submodule "server/rgb-matrix"]
	path = server/rgb-matrix
	url = https://github.com/hrueger/rpi-rgb-led-matrix
[submodule "server/spixels"]
	path = server/spixels
	url = https://github.com/hzeller/spixels
